
.catalog-block {
    max-width: 70%;
}

.product-card-block {
    max-width: 200px;
}
.product-card-block H2, .product-card-block P {
    cursor: default;
}

INPUT[type="number"] {
    width: 55px;
    display: block;
    float: left;
    margin-right: 15px;
}
.add-cart-button {
    text-decoration: underline;
}

.cart-button {
    float: left;
    margin-right: 15px;
    text-decoration: underline;
}

.cart-table {
    text-align:left;
}
.order-confirm-button {
    margin-top: 25px;
    font-weight: bold;
    display: block;
    text-decoration: underline;
}
